:root {
    --aspargus: #779556;
    --beige: #EBECD0;
    --ivory: #f9f9ed;
    --pear: #B9CC36;
    --icterine: #F5F568;
    --persian-red: #C8342F;
    --jet: #333;

    --pear-6: #b9cd3799;
    --persian-red-6: #C8342F99;

    --board-dimension: 600px;
    --square-dimension: calc(var(--board-dimension) / 8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--ivory);
    font-family: 'Raleway', sans-serif;
}

.game {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    width: var(--board-dimension);
    height: var(--board-dimension);
    display: grid;
    grid-template-columns: repeat(8, var(--square-dimension));
    grid-template-rows: repeat(8, var(--square-dimension));
    position: relative;
    z-index: 1;
}

.board::before {
    content: "";
    border: 5px solid var(--aspargus);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: var(--beige);
    z-index: -1;
}

.board.spinned,
.board.spinned .indicator span,
.board.spinned .piece {
    transform: rotate(180deg);
}

.board.spinned .indicator.columns {
    bottom: unset;
    left: unset;
    top: -40px;
    right: 0;
}

.board.spinned .indicator.ranks {
    top: unset;
    left: unset;
    bottom: 0;
    right: -40px;
}

.board.spinned .capturedPieces {
    top: unset;
    left: unset;
    bottom: -40px;
    right: 0;
}

.indicator {
    position: absolute;
    display: grid;
}

.indicator.columns {
    bottom: -40px;
    left: 0;
    width: 100%;
    grid-template-columns: repeat(8, var(--square-dimension));
}

.indicator.ranks {
    top: 0;
    left: -40px;
    height: 100%;
    grid-template-rows: repeat(8, var(--square-dimension));
}

.indicator span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aspargus);
}

.capturedPieces {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capturedPieces div.white,
.capturedPieces div.black {
    flex-basis: 50%;
    display: flex;
    column-gap: 4px;
}

.capturedPieces div.black {
    justify-content: flex-end;
}

.square {
    width: var(--square-dimension);
    height: var(--square-dimension);
}

.square.dark {
    background-color: var(--aspargus);
}

.square.light {
    background-color: var(--beige);
}

.piece {
    position: absolute;
    width: var(--square-dimension);
    height: var(--square-dimension);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6rem;
    cursor: pointer;
    transition: top 0.3s, left 0.3s;
}

.piece.active {
    background-color: var(--pear-6);
    border: 5px solid var(--pear)
}

.piece.white {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.piece.black {
    color: black;
}

.piece.check {
    background-color: red;
}

.piece.captured {
    position: static;
    width: auto;
    height: auto;
    font-size: 1rem;
    display: inline-block;
    cursor: auto;
}

.piece.captured:hover {
    background: none;
    border: none;
}

.move {
    position: absolute;
    width: var(--square-dimension);
    height: var(--square-dimension);
    border: 5px solid var(--pear);
    cursor: pointer;
}

.move:hover {
    background-color: var(--pear-6);
}

.move.capture {
    border-color: var(--persian-red);
}

.move.capture:hover {
    background-color: var(--persian-red-6);
}

.promotionPieces {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--ivory);
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--aspargus);
}

.promotionPieces .piece {
    position: initial;
}

.promotionPieces .piece:hover {
    background-color: var(--icterine);
}

.defeated, .winner {
    position: absolute;
    width: var(--square-dimension);
    height: var(--square-dimension);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 4px;
    cursor: pointer;
}

.defeated i {
    color: white;
    background-color: #333;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner i {
    background-color: #e9b148;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions {
    margin-top: 60px;
    width: var(--board-dimension);
    display: flex;
}

.controllers, .new {
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
}

.actions button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--aspargus);
}

.actions button:disabled {
    color: #CCC;
    cursor: not-allowed;
}